
.thumb{
    margin: 0 auto;
    padding:20px;

}
.title{
    text-align: center;
    font-size: 30px;
    color:rgba(256, 256, 256, 0.9);
    margin-bottom: 30px;

}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.item{
    width: 200px;
    padding-bottom: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 250ms linear;
     
}
.item:hover{
    transform: scale(1.08);
}
.link{
font-size: 20px;
color:#8739f9;
}
.link:visited{
    color:#c651cd;
}

.poster{
    width: 200px;
    height: 300px;
}
.textTumb{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.name{
    align-self: center;
    font-size: 20px;
}
